body{background-color: rgb(3, 169, 252);}
img{
    float:left;
}
 <style>
  .topbar {
    display: inline-block;
    width: 20%;
    height: 50px;
    line-height:50px;
    font-size: 25px;
    color: black;
    text-align: center;
    background: rgb(3, 169, 252);
  }
</style> 